## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

## Test results & coverage
test-results/
coverage-report/
TestResults/
*.trx
*.coveragexml
coverage.cobertura.xml

## Docker
docker-compose.override.yml

## Secrets / local config
appsettings.Development.json
appsettings.Local.json
*.pfx
*.p12

## OS
.DS_Store
Thumbs.db
